<footer id="footer">
    <div class="developers">
        <p>Designed and Developed by <a class="developers-main" href="https://github.com/shan-shaji">Shan</a> and <a class="developers-main" href="https://github.com/tonalmathew">Tonal</a>. </p>

    </div>
</footer>
</body>

</html>