<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="/js/index.js"></script>
    <link rel="stylesheet" href="css/style.css" />
    <title>Leaderboard</title>
  </head>
  <body>

    <div class="flexbox-container">
      <div class="flexbox-item flexbox-item-1"></div>
      <div class="flexbox-item flexbox-item-2"></div>
    </div>
      
  </body>
</html>
