<%- include("../partials/header"); -%>

<section id="header">
  <div class="container-fluid">
    <div class="main-title-leaderboard">
      <ul class="nav justify-content-center">
        <li class="nav-item">
          <p class="text-center leaderboard-title text-uppercase">
            Leaderboard
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
<!-- End of Header -->

<section id="main-section">
  <div class="container-fluid">
    <div class="row">
      <!-- == -->
      <div class="col-lg-6 position-column">
        <!-- TODO: to impliment @tonal -->
        <div class="svg-positions">
          <div class="names-of-participants">
            <div class="winner-2">
              <h4 class="winner-name">Robin Johns</h4>
              <div class="score">
                2345
              </div>
            </div>
            <div class="winner-1">
              <h4 class="winner-name">Jacob Kurishinakal</h4>
              <div class="score">
                2345
              </div>
            </div>
            <div class="winner-3">
              <h4 class="winner-name">spider man</h4>
              <div class="score">
                2345
              </div>
            </div>
          </div>

          <img src="images/score.svg" class="winner-svg" />
        </div>
      </div>

      <div class="col-lg-6 scoreboard">
        <div class="scoreboard-list">
          <!-- Search form -->
          <div class="searchbar">
            <i class="fas fa-search search-icon"></i>
            <input
              class="form-control form-rounded"
              type="text"
              placeholder="Search"
              aria-label="Search"
              id="tableSearch"
            />
          </div>
          <div class="scoreboard-content">
            <div class="table-wrapper-scroll-y my-custom-scrollbar">
              <table class="table">
                <thead>
                  <tr>
                    <th>Rank</th>
                    <th>Name</th>
                    <th>Score</th>
                  </tr>
                </thead>
                <tbody id="myTable">
                  <tr>
                    <td>John</td>
                    <td>Doe</td>
                    <td>john@example.com</td>
                  </tr>
                  <tr>
                    <td>July</td>
                    <td>Dooley</td>
                    <td>july@greatstuff.com</td>
                  </tr>
                  <tr>
                    <td>Anja</td>
                    <td>Ravendale</td>
                    <td>a_r@test.com</td>
                  </tr>
                  <tr>
                    <td>Anja</td>
                    <td>Ravendale</td>
                    <td>a_r@test.com</td>
                  </tr>
                  <tr>
                    <td>Anja</td>
                    <td>Ravendale</td>
                    <td>a_r@test.com</td>
                  </tr>
                  <tr>
                    <td>Anja</td>
                    <td>Ravendale</td>
                    <td>a_r@test.com</td>
                  </tr>
                  <tr>
                    <td>Anja</td>
                    <td>Ravendale</td>
                    <td>a_r@test.com</td>
                  </tr>
                  <tr>
                    <td>Anja</td>
                    <td>Ravendale</td>
                    <td>a_r@test.com</td>
                  </tr>
                  <tr>
                    <td>Anja</td>
                    <td>Ravendale</td>
                    <td>a_r@test.com</td>
                  </tr>
                  <tr>
                    <td>Anja</td>
                    <td>Ravendale</td>
                    <td>a_r@test.com</td>
                  </tr>
                  <tr>
                    <td>Anja</td>
                    <td>Ravendale</td>
                    <td>a_r@test.com</td>
                  </tr>
                  <tr>
                    <td>Anja</td>
                    <td>Ravendale</td>
                    <td>a_r@test.com</td>
                  </tr>
                  <tr>
                    <td>Anja</td>
                    <td>Ravendale</td>
                    <td>a_r@test.com</td>
                  </tr>
                  <tr>
                    <td>Anja</td>
                    <td>Ravendale</td>
                    <td>a_r@test.com</td>
                  </tr>
                  <tr>
                    <td>Anja</td>
                    <td>Ravendale</td>
                    <td>a_r@test.com</td>
                  </tr>
                  <tr>
                    <td>Anja</td>
                    <td>Ravendale</td>
                    <td>a_r@test.com</td>
                  </tr>
                  <tr>
                    <td>Anja</td>
                    <td>Ravendale</td>
                    <td>a_r@test.com</td>
                  </tr>
                  <tr>
                    <td>Anja</td>
                    <td>Ravendale</td>
                    <td>a_r@test.com</td>
                  </tr>
                  <tr>
                    <td>Anja</td>
                    <td>Ravendale</td>
                    <td>a_r@test.com</td>
                  </tr>
                  <tr>
                    <td>Anja</td>
                    <td>Ravendale</td>
                    <td>a_r@test.com</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%- include("../partials/footer"); -%>
