<%- include("../partials/header"); -%>
<section id="header">
  <div class="container-fluid">
    <div class="main-title-leaderboard">
      <ul class="nav justify-content-center">
        <li class="nav-item">
          <p class="text-center leaderboard-title text-uppercase">
            Leaderboard
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
<!-- End of Header -->

<section id="main-section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6"></div>
      <div class="col-lg-6 position-column">
        <!-- TODO: to impliment @tonal -->
      </div>
    </div>
  </div>
</section>
<%- include("../partials/footer"); -%>
