<%- include("../partials/header"); -%>

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Login Form -->
    <form class="login-form" method="POST" action="/login/signin">
      <input
        type="text"
        id="login"
        class="fadeIn second"
        name="login"
        placeholder="login"
      />
      <input
        type="password"
        id="password"
        class="fadeIn third"
        name="password"
        placeholder="password"
      />
      <input type="submit" class="fadeIn fourth" value="Log In" />
    </form>
  </div>
</div>

<%- include("../partials/footer"); -%>
